:root {
    --Paleblue: hsl(225, 100%, 94%);
    --Brightblue: hsl(245, 75%, 52%);
    --Darkblue: hsl(223, 47%, 23%);
    --Desaturatedblue: hsl(224, 23%, 55%);
    --transition: 0.3s;
}

html {
    scroll-behavior: smooth;
}

/* start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Red Hat Display", sans-serif;
    max-width: 1440px;
    background-image: url(images/pattern-background-desktop.svg);
    background-color: var(--Paleblue);
    background-repeat: repeat-x;
}

/* mobile */
@media (min-width: 768px) {
    .container {
        width: 375px;
    }
}

/* desktop */
@media (min-width: 992px) {
    .container {
        width: 1440px;
    }
}

/* end Global Rules */
/* start the desigen */
.container {
    background-color: white;
    border-radius: 12px;
    max-width: 380px;
    height: 612px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

section img {
    max-width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin-bottom: 10px;
    display: block;
}

section .text h1 {
    color: var(--Darkblue);
    margin: 20px;
    text-align: center;
}

section .text p {
    color: hsl(224, 23%, 55%);
    font-size: 16px;
    margin: 15px;
    text-align: center;
}

section .music {
    background-color: hsl(225, 100%, 98%);
    width: 300px;
    height: 90px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section .music .card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.music .card .image {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.music h3 {
    color: var(--Darkblue);
    font-weight: 900;
}

.music p {
    color: hsl(224, 23%, 55%);
    font-size: 16px;
}

.music a {
    font-weight: 700;
    transition: var(--transition);
}

.music a:hover {
    color: var(--Brightblue);
    text-decoration: none;
}

button {
    width: 300px;
    height: 45px;
    margin: 20px;
    border-radius: 8px;
    background-color: var(--Brightblue);
    color: white;
    font-weight: bold;
    transition: var(--transition);
    border: none;
    filter: drop-shadow(0 8px 6px rgba(7, 23, 255, .245));
}

button:hover {
    border: 2px solid var(--Desaturatedblue);
    cursor: pointer;
}

.end p {
    color: hsl(224, 23%, 55%);
    transition: var(--transition);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.end p:hover {
    color: var(--Darkblue);
    cursor: pointer;
}